[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ranish2
[access "refs/for/refs/*"]
	read = group user/ranish2
	push = group user/ranish2
	label-Code-Review = -2..+2 group user/ranish2
	label-Verified = -1..+1 group user/ranish2
	rebase = group user/ranish2
	removeReviewer = group user/ranish2
	submit = group user/ranish2
[access "refs/heads/*"]
	read = group user/ranish2
	create = group user/ranish2
	push = +force group user/ranish2
	pushMerge = group user/ranish2
[access "refs/tags/*"]
	push = +force group user/ranish2
	pushTag = group user/ranish2
	pushSignedTag = group user/ranish2
